# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Gaia\Dropbox\Il mio PC (DESKTOP-38FS45T)\Documents\GitHub\Ml4IoT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
